<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>TEBeF_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,200},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,200},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,0},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,800},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,600},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,400},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,200},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,0},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,800},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,600},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,400},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,200},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,0},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,800},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,600},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,400},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,400},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,0},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,800},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,600},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,400},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,200},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,0},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,800},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,600},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,400},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,200},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,0},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

			<key>TEBeF_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{282,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,199}}</string>
				<key>sourceSize</key>
				<string>{282,199}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>